polkit.addRule(function(action, subject) {
	if ((action.id == "org.freedesktop.consolekit.system.stop" ||
	     action.id == "org.freedesktop.consolekit.system.restart") &&
	   subject.isInGroup("wheel") {
		   return polkit.Result.YES;
	   }
});
